/* font family: like Times New Roman, but not TNR. Merriweather, Georgia, and Book Antiqua. */
:root {
  --dkcol1: #001524;
  --ltcol1: #15616D;
  --basecol: #ffecd1;
  --ltcol2: #ff7d00;
  --dkcol2: #78290f;

}

* {
  padding: 0px;
  margin: 0px;
}

/* Styles the entire header section  */
header {
  font-size: 1.5rem;
  font-family: 'Merriweather', Georgia, 'Book Antiqua', 'Times New Roman', Times, serif;
  padding: 25px;
  padding-left: 0px;
  display: flex;
  background-color: var(--ltcol1);
  color: var(--basecol);
  align-items: center;
  justify-content: space-between;
  flex: 1 1 100%;

}

/* Styling only the header portion that contains "timpyjoe" */
.header-name {
  margin-left: 0px;
  padding: 20px;
  padding-left: 50px;
  background-color: #001524;
}

header nav {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
 
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

body {
  background-color: var(--basecol);
  color: var(--dkcol2);
}

.bio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 1.5rem;

  
}