/* Color palette: #001524 #15616D #FFECD1 #FF7D00 #78290F */

/* font family: like Times New Roman, but not TNR. Merryweather, Georgia, and Book Antiqua. */
:root {
  --dkcol1: #001524;
  --ltcol1: #15616D;
  --basecol: #ffecd1;
  --ltcol2: #ff7d00;
  --dkcol2: #78290f;

}

* {
  padding: 0px;
  margin: 0px;
}

header {
  font-size: 1.5rem;
  font-family: 'Merriweather', Georgia, 'Book Antiqua', 'Times New Roman', Times, serif;
  padding: 25px;
  display: flex;
  background-color: var(--ltcol1);
  color: var(--basecol);
  align-items: center;
  justify-content: space-between;

}

.header-name {
  margin-left: 0px;
  padding: 20px;
  background-color: #001524;
}

header nav {
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
 
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

body {
  background-color: var(--basecol);
}